# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Scikit-learn
5. TensorFlow

| Data Science Tools |
|--------------------|
| Jupyter Notebook |
| RStudio |
| Apache Zeppelin |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [8]:
# This will convert 200 minutes to hours by diving by 60
print(f"200 minutes / 60 minutes = {200/60} hours")

200 minutes / 60 minutes = 3.3333333333333335 hours

**Objectives:**

- List popular languages for Data Science
- List commonly used libraries for Data Science
- Demonstrate arithmetic expressions in Python
- Create tables using markdown in Jupyter Notebook
- Use code cells for calculations

## Author
Tri Pham